name: Build Windows EXE

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller==5.13.2
          pip install tensorflow-cpu==2.9.3
          pip install tensorflow-io==0.29.0
          pip install deepdanbooru
          pip install nudenet
          pip install absl-py

      - name: Clean previous builds
        run: |
          if (Test-Path build) { Remove-Item build -Recurse -Force }
          if (Test-Path dist) { Remove-Item dist -Recurse -Force }

      - name: Build EXE
        run: pyinstaller --clean app.spec

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: windows-build
          path: dist/app/
