name: Build Windows EXE

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller
          pip install tensorflow-cpu==2.10.1
          pip install tensorflow-io
          pip install deepdanbooru
          pip install nudenet

      - name: Build EXE
        run: pyinstaller app.py --noconfirm --clean --onedir --windowed --hidden-import tensorflow --hidden-import tensorflow_io --hidden-import deepdanbooru --hidden-import nudenet

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: windows-build
          path: dist/app/

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/app/**
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
