name: Build Windows Scanner

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-2022

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Build EXE (ONEDIR MODE)
        run: pyinstaller app.py --onedir --console --clean --collect-all deepdanbooru --collect-all nudenet

      - name: Upload Build Folder
        uses: actions/upload-artifact@v4
        with:
          name: nsfw-scanner-build
          path: dist/app/
