- name: Clean old builds
  run: |
    if (Test-Path build) { Remove-Item build -Recurse -Force }
    if (Test-Path dist) { Remove-Item dist -Recurse -Force }
  shell: pwsh

- name: Build EXE
  run: |
    pyinstaller app.py `
      --noconfirm `
      --clean `
      --onedir `
      --windowed `
      --exclude-module matplotlib `
      --exclude-module jupyter `
      --exclude-module notebook `
      --exclude-module tensorflow.include `
      --exclude-module tensorflow.compiler `
      --exclude-module tensorflow.lite `
      --exclude-module tensorflow.tools
  shell: pwsh
